:root {
  --primary-color: white;
  --secondary-color: rgb(254, 177, 2);
  --tertiary-color: rgb(238, 218, 58);
  --quaternary-color: rgb(162, 179, 11);
  --quinary-color: rgb(225, 225, 207);
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
